body, html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  scroll-behavior: smooth;

}
.parallax{
    background-image: url("img/bg.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-image: url("img/bg2.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
  background-image: url("img/bg2.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reffooter{
  background-image: url("img/bg2.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.banner{
    background-image: url("img/bgbanner.svg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.subtitle{
  display: flex;
  font-family: 'Open Sans', sans-serif;
}
.content{
  margin: auto;
  width: 80%;
  height: 80%;
}
.contentref{
  margin: auto;
  width: 80%;
  height: 80;
}
.references{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.5em;
}
.vid{
  margin: 0 auto;
  width:  85%;
  height: 85%;
}


.columns{
  text-align: center;
  display: block;
  margin: 0 auto !important;
}
.scams{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
  max-height: 85%;
}
.images{
  width: 45%;
  height: 45%;
  margin: 0 auto;
}
.images2{
  width: 30%;
  height: 30%;
  margin: 0 auto;
}
.images3{
  width: 62.5%;
  height: 62.5%;
  margin: 0 auto;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.charttxt{
  font-size: 0.6em;

}
/* -------------------------------- 
Back to Top - source code taken from CodyHouse.co
-------------------------------- */  
  .cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show,
  .cd-top.cd-top--fade-out,
  .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  }
  
  .cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  
  .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-top {
      right: 20px;
      bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
    }
  }
/* -------------------------------- 
Back to Top - source code taken from CodyHouse.co
-------------------------------- */
