// Variable Overrides 
$theme-colors: (
	"primary": #F4f4f4
);
$body-bg: #f1f1f1;
.jumbotron{
	background-color: #C5c5c3 !important;
}
$body-color: #000000;
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";