// Variable Overrides 
$theme-colors: (
	"primary": #ccc8c5
);

$body-bg: #f1f1f1;

.jumbotron{
	background-color: #C5c5c3 !important;
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
$body-color: #000000;

.navbar{
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
	border-radius: .25rem;
}
.embed-responsive{
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
	border-radius: .25rem;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";